[submodule "cachyos-kernel-patches"]
	path = cachyos-kernel-patches
	url = https://github.com/CachyOS/kernel-patches.git
[submodule "linux-tkg"]
	path = linux-tkg
	url = https://github.com/Frogging-Family/linux-tkg.git
[submodule "graysky-kernel-pacthes"]
	path = graysky-kernel-pacthes
	url = https://github.com/graysky2/kernel_compiler_patch
